<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testscript.AssetProfileTest"/>
      <class name="testscript.AssetCostAssignmentTest"/>   
      <class name="testscript.LeaseProfileTest"/>
      <class name="testscript.LtrToArUpdatetest"/>
    </classes>
  </test> 
</suite> 
